.features__img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}

.features__feature {
  text-align: center;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.features__icon svg {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
}

.features__header {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.features__p {
  line-height: 1.6;
  font-size: 0.9rem;
}
.title1 {
  font-weight: bold;
  color: #bc893d;
}
.title2 {
  font-weight: bold;
  color: #477c43;
}
.title3 {
  font-weight: bold;
  color: #494790;
}
@media (max-width: 768px) {
  .features__text-first {
    order: -1;
  }
  .features__image-last {
    order: 1;
  }
  .features__icon {
    display: none;
  }
  .features__header {
    font-size: 1.2rem;
  }
  .features__p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  /* .features__header {
    font-size: 0.9rem;
  }
  .features__p {
    font-size: 0.8rem;
  } */
}
