.footer {
  background-color: #eeeeee;
  color: #2c2c2c;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5rem;
}

.footer__link {
  padding: 10px;
  color: #575757;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.5s ease;
}

.footer__link:hover {
  color: #3e383e;
  text-decoration: underline;
}

.footer__logo {
  width: 10rem;
  max-width: 150px;
}

@media (max-width: 768px) {
  .footer__link {
    font-size: 0.8rem;
  }
}
