.slider {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.carousel-inner {
  position: relative;
}

.testimonial {
  text-align: center;
  padding: 3rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.testimonial__header {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.testimonial__text {
  font-size: 0.7rem;
  margin-bottom: 5rem;
}

.testimonial__photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: 0.7rem;
  font-weight: bolder;
}

.testimonial__location {
  font-size: 0.5rem;
}

.slider__btn {
  font-size: 1rem;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.slider__btn--left {
  left: 0.3rem;
}

.slider__btn--right {
  right: 0.3rem;
}

@media (max-width: 768px) {
  .testimonial {
    padding: 3rem;
  }
  .testimonial__header {
    font-size: 1rem;
  }
  .testimonial__text {
    font-size: 0.9rem;
  }
}
